 <footer class="site clearfix bs">
    <section class="lfloat">
        <ul>
            <lh>Categorias</lh>
            {% for cat, _ in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section class="lfloat">
        <ul>
            <lh>Páginas</lh>
            {% for p in pages %}
            <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li?
            {% endfor %}
        </ul>
    </section>
    <section class="rfloat">
    <small>
        {% if COPYRIGHT %}<p>{{ COPYRIGHT }}</p>{% endif %}
        <p>site gerado por <a href="https://github.com/getpelican/pelican">pelican</a></p>
        <p>tema por <a href="https://github.com/demianbrecht">demian brecht</a></p>
        <p>hospedado no <a href="https://github.com/">github</a></p>
    </small>
    </section>
</footer>
